
# MacOS
.DS_Store

# IDEs
.vscode
.idea
.fleet

# deps
venv
iverilog

# Vivado
**/transcript
**/vivado.log
**/vivado.jou
**/vsim.wlf

# DVT
**/.dvt
**/dvt_build.log

# Questa
**/work
**/modelsim.ini
